# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 8
trim_trailing_whitespace = true

[CMakeLists.txt,Makefile]
indent_style = tab

[*.{c,cpp,h,hpp,pl,pm}]
indent_style = tab

[*.{htm,html}]
indent_size = 2
max_line_length = 120

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

