# Configure output
.deps
.libs
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile*
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Compiled Object files
*.o
*.lo
*.obj
*.slo

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.app
*.exe
*.out

# Misc
*.cbp
*.db
*.db-shm
*.db-wal
*.gch
*.ib_pdb_index
*.idb
*.ipch
*.ilk
*.lastcodeanalysissucceeded
*.log
*.opendb
*.pdb
*.swp
*.tlog
*.xml
.idea
.ruby-version
cov-int
xcuserdata
Win32
x64

