# Configure output
.deps
.libs
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile*
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.gch
*.swp
.ruby-version
cov-int
xcuserdata
*.ipch
*.db
*.opendb
*.db-shm
*.db-wal
/lib/Win32/Debug/Blister/Blister.tlog
*.xml
*.log
*.ib_pdb_index
*.idb
*.pdb
*.tlog
/lib/Win32/Debug/Blister/Version.res
*.lastcodeanalysissucceeded
/lib/x64/Debug/Blister/Version.res
/test/Win32/Debug
*.ilk
