[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = fast, scalable, lightweight, cross-platform C++ library and cmdline tool set for building async I/O servers and clients
[access "refs/*"]
	owner = group user/Todd Richmond (todd-richmond)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Todd Richmond (todd-richmond)
	label-Verified = -1..+1 group user/Todd Richmond (todd-richmond)
	push = group user/Todd Richmond (todd-richmond)
	read = group user/Todd Richmond (todd-richmond)
	rebase = group user/Todd Richmond (todd-richmond)
	removeReviewer = group user/Todd Richmond (todd-richmond)
	submit = group user/Todd Richmond (todd-richmond)
[access "refs/heads/*"]
	create = group user/Todd Richmond (todd-richmond)
	push = +force group user/Todd Richmond (todd-richmond)
	pushMerge = group user/Todd Richmond (todd-richmond)
	read = group user/Todd Richmond (todd-richmond)
[access "refs/tags/*"]
	push = group user/Todd Richmond (todd-richmond)
	push = +force group user/Todd Richmond (todd-richmond)
